@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

:root {
  /* Font - 300, 400, 600 */
  --font: "Josefin Sans", sans-serif;

  /* Primary Colors */
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

  /* Neutral Color */
  --dark-grayish-red: hsl(0, 6%, 24%);

  /* Gradients */
  --linear-one: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  --linear-two: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

body {
  height: 110svh;
  width: 99.1svw;
}

.main-container {
  display: flex;
}

.graphic-mobile {
  display: none;
}

.graphic .logo {
  height: 2.8rem;
  width: 14rem;
}

.info-card {
  background-image: url("./images/bg-pattern-desktop.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 82rem;
  height: 57.8rem;
  padding: 5rem 15rem 6rem 15rem;
}

.info-card h1 {
  color: var(--dark-grayish-red);
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 1.8rem;
  line-height: 5rem;
  font-weight: 400;
  padding: 10rem 0 2rem 0;
}

.info-card span {
  font-weight: 200;
  color: var(--desaturated-red);
}

.paragraph {
  width: 40rem;
  padding-right: 4rem;
}

.info-card p {
  color: var(--desaturated-red);
  line-height: 2.3rem;
  font-size: 1.3rem;
  padding-bottom: 2.5rem;
}

.email {
  width: 34rem;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
  border: 0.12rem solid var(--desaturated-red);
  color: var(--desaturated-red);
  font-size: 1.2rem;
  outline: none;
}

input:focus {
  outline-color: none;
  border-color: var(--soft-red);
}

.subBtn:hover {
  background-position: right center;
}

.subBtn {
  cursor: pointer;
  border: none;
  width: 7rem;
  height: 4rem;
  border-radius: 2rem;
  transform: translate(-6rem, 0.2rem);
  background-image: linear-gradient(
    to right,
    #f8bfbf 0%,
    #ee8c8c 45%,
    #f8bfbf 100%
  );
  background-size: 200% auto;
  box-shadow: 0 1rem 2rem 0 var(--desaturated-red);
  transition: 0.5s;
}

label {
  position: absolute;
  display: none;
}

.error-icon {
  position: absolute;
  transform: translate(18rem, 1.3rem);
}

.error-msg {
  display: none;
  padding-top: 1rem;
}

.img-card {
  width: 50rem;
  height: 57.91rem;
  background-image: url("./images/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.attribution {
  padding-top: 3rem;
  text-align: center;
}

/* ================================= Media Queries ============================== */

@media screen and (max-width: 400px) {
  body {
    width: 23.438rem;
  }

  .main-container {
    flex-direction: column-reverse;
    width: 23.438rem;
    height: 50rem;
    text-align: center;
  }

  .graphic {
    display: none;
  }

  .graphic-mobile {
    display: flex;
    align-items: center;
    width: 23.438rem;
    height: 5rem;
    padding-left: 2.3rem;
  }

  .logo {
    height: 1.5rem;
    width: 7rem;
  }

  .info-card {
    justify-content: center;
    width: 23.438rem;
    height: 28rem;
    padding: 0;
    margin-bottom: 5rem;
  }

  .info-card h1 {
    font-size: 3rem;
    padding: 3rem 0 0 0;
    letter-spacing: 0.8rem;
    line-height: 3rem;
  }

  .paragraph {
    width: 23.438;
  }

  .info-card p {
    width: 23.438rem;
    font-size: 1rem;
    padding: 1rem 1.2rem;
  }

  .email-input {
    display: flex;
    align-items: center;
  }

  .email {
    width: 20rem;
    height: 3rem;
  }

  .subBtn {
    position: absolute;
    width: 4.5em;
    height: 3rem;
    transform: translate(-3.7rem, 0rem);
  }

  .error-icon {
    position: absolute;
    transform: translate(19rem, 1.3rem);
  }

  .error-msg {
    display: none;
    padding-top: 2rem;
  }

  .img-card {
    width: 23.438rem;
    height: 18rem;
    background-image: url("./images/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
